--------------
Create Project
--------------
npm init -y

--------------
Install
--------------
npm i bcrypt  cookie-parser dotenv ejs connect-mongo express express-ejs-layouts jsonwebtoken method-override mongoose
npm install --save @fortawesome/fontawesome-svg-core
npm install --save @fortawesome/free-solid-svg-icons
npm install --save @fortawesome/free-regular-svg-icons
npm install --save @fortawesome/free-brands-svg-icons

