<form action="/contact" method="POST">
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Sparta" name="name">

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="nei@gmail.com" name="email">

    <label for="body"><b>Content</b></label>
    <textarea name="body" cols="50" rows="10"></textarea>
    
    <input type="submit" value="Submit" class="btn">
</form>
